<%= form_with(model: picture) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2>下記のエラーのよりセーブが失敗しました:</h2>
      <ul>
        <% picture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :picture_file %>
    <%= form.file_field :picture_file %>
  </div>

  <div class="actions">
    <%= form.submit "アップロード" %>
  </div>
<% end %>
