<!DOCTYPE html>
<html>
  <head>
    <title>UnifaPictures</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-grid">
      <div class="site-grid-header">
        <% if logged_in? %>
          <div class="logout-link">
            <%= link_to "ログアウト", :sessions, method: :delete %>
          </div>
        <% end %>
      </div>
      <div class="site-grid-body">
        <main>
          <%= yield %>
        </main>
      </div>
      <div class="site-grid-footer"></div>
    </div>
  </body>
</html>
